absl-py==0.13.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
backcall==0.2.0
bidict==0.21.3
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.5.30
click==8.0.1
cycler==0.10.0
Cython==0.29.24
dataclasses==0.6
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.6.0
dlib==19.17.0
dnspython==2.1.0
docopt==0.6.2
entrypoints==0.3
eventlet==0.32.0
facenet-pytorch==2.5.2
Flask==2.0.1
Flask-SocketIO==5.1.1
flatbuffers==1.12
gast==0.5.2
gevent==21.8.0
gevent-websocket==0.10.1
glob2==0.7
google-auth==1.33.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==1.1.2
h5py==3.4.0
image-quality==1.2.7
imageio==2.9.0
imutils==0.5.2
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jupyter==1.0.0
jupyter-client==7.0.2
jupyter-core==4.7.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libsvm==3.23.0.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mido==1.2.9
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
nest-asyncio==1.5.1
networkx==2.6.2
numpy==1.19.5
nvidia-cublas==11.5.1.101
nvidia-cuda-nvrtc==11.3.58
nvidia-cuda-runtime==11.3.58
nvidia-cudnn==8.2.0.51
nvidia-pyindex==1.0.9
nvidia-tensorrt==8.0.1.6
oauthlib==3.0.1
olefile==0.46
opencv-python==4.5.3.56
opt-einsum==3.3.0
pandas==1.1.4
parso==0.8.2
pexpect==4.8.0
pickle-mixin==1.0.2
pickleshare==0.7.5
pretty-midi==0.2.9
prometheus-client==0.8.0
prompt-toolkit==3.0.20
protobuf==3.17.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
PyJWT==1.7.1
pykwalify==1.8.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyradiomics==3.0.1
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==22.2.1
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.14
ruamel.yaml.clib==0.2.6
sacremoses==0.0.43
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.7.1
Send2Trash==1.5.0
sentencepiece==0.1.91
SimpleITK==2.1.0
sip==4.19.13
six==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
terminado==0.9.1
test-tube==0.7.5
testpath==0.4.4
threadpoolctl==2.2.0
tifffile==2021.8.8
timm==0.4.12
tokenizers==0.10.3
torch==1.5.1+cu101
torch2trt==0.3.0
torchaudio==0.9.0
torchvision==0.6.1+cu101
tornado==6.1
traitlets==5.1.0
trt-pose==0.0.1
typing-extensions==3.7.4.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.4.0
